<?xml version="1.0"?>
<launch>

	<!--shape visualization node-->
	<!--node pkg="cob_3d_visualization" type="shape_visualization" name="shape_visualization" output="screen"-->
	<node pkg="cob_3d_visualization" type="shape_visualization" name="shape_visualization" output="screen">

     <remap from="shape_array" to="geometry_map/map_array"/>
     <remap from="shape" to="shape_visualization/shape"/>
  	<!--remap from="point_cloud" to="/cam3d/rgb/points"/-->

  	<remap from="marker" to="shape_visualization/marker"/>
  	<remap from="interactive_marker" to="shape_visualization/interactive_marker"/>
	</node>
		
	<!--include file="$(find cob_3d_mapping_geometry_map)/ros/launch/geometry_map.launch"/-->	

</launch>
