<?xml version="1.0"?>
<launch>

<!--table visualization node-->
	<node name="table_visualization" pkg="cob_3d_visualization" type="table_visualization" output="screen">
	<remap from="table_array" to="geometry_map/map_array"/>
	<remap from="get_geometry_map" to="/geometry_map/get_map"/>
	</node>
	
	<!--include file="$(find cob_3d_mapping_geometry_map)/ros/launch/geometry_map.launch"/-->
	<include file="$(find cob_3d_mapping_semantics)/ros/launch/extract_tables.launch"/>
	<include file="$(find cob_3d_mapping_semantics)/ros/launch/move_to_table.launch"/>
	
</launch