.project
.cproject
.pydevproject
*.pyc
*.tar*
*.orig
bin
lib
build
docs
doc
srv_gen
msg_gen
cmake_install.cmake
*.cfgc
*/cfg/cpp
cob_3d_mapping_common/src
cob_3d_mapping_features/src
cob_3d_mapping_geometry_map/src
cob_3d_mapping_point_map/src
cob_table_object_cluster/src
ROS_NOBUILD
