<?xml version="1.0"?>


<launch>
<!-- Includes -->



  <!-- start environment modelling -->
  <node pkg="nodelet" type="nodelet" name="pcl_manager"  args="manager" output="screen"/>

  <!-- Start point cloud converter -->
<node pkg="point_cloud_converter" type="point_cloud_converter" name="converter_mug" output="screen">
 	 <remap from="/points_in" to="/full_cloud" />
 	 <remap from="/points2_out" to="/converter_out" />
</node>
  	
  

  <node pkg="cob_env_model" type="field_of_view_node" name="field_of_view_node" output="screen"/>
  


  <!-- Start aggregate point map -->

<node pkg="nodelet" type="nodelet" name="aggregate_point_map" args="load cob_env_model/AggregatePointMap pcl_manager" output="screen">
  	<remap from="point_cloud2" to="/converter_out" />
  	<remap from="point_cloud2_map" to="/aggregate_point_map/map"/>
  	<remap from="point_cloud2_aligned" to="/aggregate_point_map/pc_aligned"/>
  	<param name="set_maximumiterations" type="int" value="50"/>
  	<param name="set_maxcorrespondencedistance" type="double" value="0.1"/>
  	<param name="set_transformationepsilon" type="double" value="1e-6"/>
  	<param name="file_path" type="string" value="/home/goa-hh/pcl_daten/table/icp/map_"/>
  	<param name="ros_debug" type="bool" value="true"/>
  	<param name="save_pc" type="bool" value="true"/>
  	<param name="save_icp_fov_map" type="bool" value="true"/>
  	<param name="save_pc_aligned" type="bool" value="true"/>
  	<param name="save_icp_fov_pc" type="bool" value="true"/>
  	<param name="save_map_fov" type="bool" value="true"/>
  	<param name="save_icp_map" type="bool" value="true"/>
  	<param name="vox_filter_setleafsize1" type="double" value="0.02" />
  	<param name="vox_filter_setleafsize2" type="double" value="0.02" />
  	<param name="vox_filter_setleafsize3" type="double" value="0.02" />
  	<param name="r_limit" type="double" value="0.1" />
  	<param name="p_limit" type="double" value="0.1" />
  	<param name="y_limit" type="double" value="0.1" />
  	<param name="distance_limit" type="double" value="0.3"/>
  	<!-- Switch mode  1 :doFOVICP(pc);  2 :doICP(pc); 3 :addToMap(pc); -->
  	<param name="mode" type="int" value="1"/>
  </node>  
  
  
  	
  </launch>
  
  