<?xml version="1.0"?>
<launch>
  <node pkg="nodelet" type="nodelet" name="boundary_estimation" args="load pcl/BoundaryEstimation pcl_manager" output="screen">
    <remap from="~input" to="/aggregate_point_map/pc_aligned" />
    <remap from="~surface" to="/aggregate_point_map/pc_aligned" />
    <remap from="~normals" to="/normal_estimation/output" />
    <remap from="~output" to="/pc_aligned_and_boundary" />
    <rosparam>
      # -[ Mandatory parameters
      k_search: 0
      radius_search: 0.05
      # Set the spatial locator. Possible values are: 0 (FLANN), 1 (organized)
      spatial_locator: 0
      use_surface: true
    </rosparam>
  </node>
</launch>
