<?xml version="1.0"?>
<launch>

  <group>
    <machine name="pc2" address="192.168.0.102" user="goa" password="cob3" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="true"/>

    <!-- start cameras -->
    <include file="$(find cob_camera_sensors)/ros/launch/cob3-2_all_cameras.launch" />
		<!-- start sensor fusion -->
    <include file="$(find cob_sensor_fusion)/ros/launch/cob3-2_sensor_fusion_shared.launch" />
		<!-- start env model -->
    <include file="$(find cob_env_model)/ros/launch/env_model.launch" />


  </group>

	
</launch>
