<launch>
  <!--node pkg="nodelet" type="nodelet" name="pcl_manager"  args="manager" output="screen"/-->
  
  
   <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
  <node pkg="nodelet" type="nodelet" name="voxel_grid2" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="aggregate_point_map/output"/>
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.2
      filter_limit_max: 1.5
      filter_limit_negative: False
      leaf_size: 0.05
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="detect_tables" args="load cob_env_model/DetectTables pcl_manager" output="screen">
  	<remap from="point_cloud2" to="voxel_grid2/output"/>
  	<!--remap from="point_cloud2" to="/aggregate_point_map/output"/-->
  </node>                 
</launch>