<?xml version="1.0"?>
<launch>
  <node pkg="cob_3d_mapping_semantics" type="semantic_extraction_node" name="semantic_extraction" output="screen">
  	<!--remap from="map" to="/aggregate_point_map/map"/-->
  	<remap from="shape_array" to="/get_tables_client/shape_array"/>
  	<remap from="shape_array_pub" to="/semantic_extraction_node/get_geometry_map"/>
  	<remap from="marker" to="/semantic_extraction_node/shape_marker"/>
  	<remap from="marker_array" to="/semantic_extraction_node/map_marker_array"/>
  	<remap from="get_geometry_map" to="/geometry_map/get_geometry_map"/>

  	<param name="tilt_angle" type = "double" value= "5.0" /><!--tilt angle in degrees-->
  	<param name="height_min" type = "double" value= "0.5"/>
  	<param name="height_max" type = "double" value= "4.0" />
  	<param name="area_min" type = "double" value= "0.5" />
  	<param name="area_max" type = "double" value= "3.0" />
  </node>
</launch>
