<?xml version="1.0"?>
<launch>
	<!-- start environment modelling -->
	<node pkg="cob_env_model" type="point_cloud_filter_node" name="point_cloud_filter" ns="cob_env_model" cwd="node" respawn="false" output="screen">
		<remap from="point_cloud2" to="/swissranger/pointcloud2_raw"/>
	</node>
</launch>

