<?xml version="1.0"?>
<launch>
	<!-- load cob description -->
  <!--include file="$(find cob_description)/ros/robots/upload_cob3.launch" /-->
	<!-- start map server -->
	<node pkg="map_server" type="map_server" name="map_server" cwd="node" respawn="false" output="screen" args="$(find cob_2dnav)/common/maps/ipa_kitchen/map.yaml"/>
  <!-- start image processing nodes -->
  <node ns="stereo/left" pkg="image_proc" type="image_proc" respawn="false" name="left_image_proc" />
  <node ns="stereo/right" pkg="image_proc" type="image_proc" respawn="false" name="right_image_proc" />
  <!-- start rviz -->
  <node pkg="rviz" type="rviz" respawn="false" name="rviz" />
	<!-- start sensor_fusion -->
  <include file="$(find cob_sensor_fusion)/ros/launch/sensor_fusion_shared.launch" />
	<!-- start TOF filter -->
  <include file="$(find cob_env_model)/ros/launch/point_cloud_filter.launch" />

  <node pkg="image_view" type="image_view" respawn="false" name="image_view">
		<remap from="image" to="stereo/right/image_color"/>
  </node>

	<node pkg="rosbag" type="play" name="rosbag_play" cwd="node" respawn="false" output="screen" args="/media/My\ Passport/Daten/20101217_bagfiles/pltf_table.bag --pause"/>
	<!--node pkg="rosbag" type="play" name="rosbag_play" cwd="node" respawn="false" output="screen" args="/media/My\ Passport/Daten/20101217_bagfiles/pltf_neck_rot_kitchen.bag pause"/-->
</launch>

