<?xml version="1.0"?>
<launch>
  <!-- start environment modelling -->
  <node pkg="nodelet" type="nodelet" name="cam3d_nodelet_manager2"  args="manager" output="screen"/>
  
	<node pkg="nodelet" type="nodelet" name="plane_extraction" args="load cob_env_model/PlaneExtractionNodelet cam3d_nodelet_manager2" output="screen">
  	<param name="file_path" type="string" value="/media/GOADaten/Daten/20110825_sim_kitchen/kitchen_sim_objects/plane/"/>
  	<param name="save_to_file" type="bool" value="false"/>
  	<param name="plane_constraint" type="int" value="1"/>
  	<param name="mode_action" type="bool" value="true"/>
  	<remap from="point_cloud2" to="/cam3d/depth_registered/points"/>
  </node>  
	<include file="$(find cob_env_model)/ros/launch/tabletop_object_cluster.launch" />

</launch>

