<?xml version="1.0"?>
<launch>
  <!-- start environment modelling -->
  <node pkg="nodelet" type="nodelet" name="cam3d_nodelet_manager2"  args="manager" output="screen"/>
  
	<node pkg="nodelet" type="nodelet" name="plane_extraction" args="load cob_env_model/PlaneExtractionNodelet cam3d_nodelet_manager2" output="screen">
  	<param name="file_path" type="string" value="/media/GOADaten/Daten/20110825_sim_kitchen/kitchen_sim_objects/plane/"/>
  	<param name="save_to_file" type="bool" value="false"/>
  	<param name="plane_constraint" type="int" value="1"/>
  	<param name="mode_action" type="bool" value="true"/>
  	<param name="target_frame" type="string" value="/map"/>
  	<param name="passthrough_min_z" type="double" value="0.6"/>
  	<param name="passthrough_max_z" type="double" value="2.0"/>
  	<remap from="point_cloud2" to="/cam3d/depth_registered/points"/>
  </node>  

	<node pkg="nodelet" type="nodelet" name="table_object_cluster" args="load cob_env_model/TableObjectClusterNodelet cam3d_nodelet_manager2" output="screen">
		<param name="file_path" type="string" value="/home/goa/tmp/"/>
  	<param name="save_to_file" type="bool" value="true"/>
  	<param name="height_min" type="double" value="-0.5"/>
  	<param name="height_max" type="double" value="-0.03"/>
  	<param name="min_cluster_size" type="int" value="30"/>
  	<param name="cluster_tolerance" type="double" value="0.03"/>
  </node>

</launch>

