<?xml version="1.0"?>
<launch>

  <!-- start left camera -->
  <node pkg="cob_vision_ipa_utils" type="cpc_publisher" name="cpc_publisher" cwd="node" respawn="false" output="screen">
	<remap from="image_xyz" to="cob_pcl/fused_image_xyz"/>
	<remap from="image_color" to="cob_pcl/fused_image_color"/>
	<remap from="image_confidence" to="cob_pcl/fused_image_confidence"/>
	<remap from="image_features" to="cob_pcl/fused_image_features"/>

  </node>

</launch>
