<?xml version="1.0"?>
<launch>

		<!-- node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" /-->

		<node pkg="nodelet" type="nodelet" name="amplitude_filter"	args="standalone cob_3d_mapping_filters/AmplitudeFilter" output="screen">
				<remap from="~point_cloud_in" to="/camera/depth/points" />
				<param name="amplitude_min_threshold" type="int" value="500" />
				<param name="amplitude_max_threshold" type="int" value="60000" />
		</node>
</launch>