<?xml version="1.0"?>
<robot name="simple cylinder">
  <link name="my_cylinder">
    <visual>
      <geometry>
        <cylinder length="1" radius="0.4"/>
      </geometry>
      <orgin xyz="-0.5 -2.2 -2" />
      <material name="black">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1 1 1" />
      </geometry>
    </collision>
   <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
  </link>
</robot>
