<?xml version="1.0"?>
<launch>


	<!-- upload script server parameters -->
	<include file="$(find cob_3d_mapping_demonstrator)/ros/launch/upload_params.launch"/>

	<!-- start dashboards -->
	<!--node pkg="cob_dashboard" type="cob_dashboard" name="$(anon dashboard_node)" cwd="node" respawn="false" output="screen" /-->
	<node pkg="cob_command_gui" type="knoeppkes.py" name="$(anon command_gui_node)" ns="dashboard" cwd="node" respawn="false" output="screen">
		<!-- upload button parameters, but delete the old ones before -->
		<rosparam command="load" ns="control_buttons" file="$(find cob_3d_mapping_demonstrator)/config/command_gui_buttons.yaml"/>
	</node>

</launch>
