<?xml version="1.0"?>
<launch>


    <arg name= "name" default = "plane"/>
    <arg name= "x" default = "1.5"/>
    <arg name= "y" default = "-1.5"/>
	<param name="$(arg name)" command="$(find xacro)/xacro.py $(find cob_3d_mapping_gazebo)/objects/plane.urdf" />
	<!-- spawn model in gazebo -->
	<node name="spawn_cylinder" pkg="gazebo" type="spawn_model" args="-urdf -param $(arg name) -x $(arg x) -y $(arg y) -z 1.1 -R 0 -P 0 -Y 0 -model $(arg name)" respawn="false" output="screen" />

</launch>
