<?xml version="1.0"?>
<launch>
  <!--node ns="geometry_map" pkg="cob_3d_mapping_geometry_map" type="geometry_map_node" name="geometry_map" output="screen"
        launch-prefix="gdb -ex run -_-args" -->
  <node ns="geometry_map" pkg="cob_3d_mapping_geometry_map" type="geometry_map_node" name="geometry_map" output="screen">
    <!--remap from="table_hull" to="/swissranger/pointcloud2_raw"/-->
    <remap from="shape_array" to="/plane_extraction/shape_array"/>
    <!--param name="file_path" type="string" value="/media/GOADaten/Daten/20110823_bagfiles/kitchen_empty/map/"/-->
    <param name="file_path" type="string" value="/Bag_Files/kitchen_table_chair"/>
    <param name="save_to_file" type="bool" value="false"/>
    <param name="map_frame_id" type="string" value="/world" />
    <param name="d" type="double" value="0.1" />
    <param name="cos_angle" type="double" value="0.97" />
    <param name="enable_tf" type="bool" value ="true" />
      </node>
</launch>
