<?xml version="1.0"?>
<launch>
  
  <arg name="mapping_manager" value="mapping_manager"/>
  <node pkg="nodelet" type="nodelet" name="$(arg mapping_manager)" args="manager" output="screen"/>
  <node ns="geometry_map" pkg="cob_3d_mapping_geometry_map" type="cylinder_client" name="cylinder_client" output="screen">
  </node>
  <node ns="geometry_map" pkg="cob_3d_mapping_geometry_map" type="geometry_map_node" name="geometry_map" output="screen">
    <param name="file_path" type="string" value="/Bag_Files/kitchen_table_chair"/>
    <param name="save_to_file" type="bool" value="false"/>
  </node>

</launch>

