<?xml version="1.0"?>
<launch>

  <arg name="debug" default="false"/>
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -rv -e gdb -ex run -args"/>
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <node pkg="openni_camera" type="openni_node" name="openni_node1" output="screen" launch-prefix="$(arg launch_prefix)">
    <!--param name="topic" value="first" /-->
    <!--param name="device_id" value="2@3" --> <!-- this line uses device on usb bus 2 and addres 3 -->
    <!--param name="device_id" value="B00367707227042B"/--> <!-- this line uses device with given serial number -->
    
    <param name="device_id" value="#1"/> <!-- this line uses first enumerated device -->
    <rosparam command="load" file="$(find openni_camera)/info/openni_params.yaml" />
    <param name="rgb_frame_id" value="/camera_rgb_optical_frame" />
    <param name="depth_frame_id" value="/camera_depth_optical_frame" />
    <param name="use_indices" value="false" />
    <param name="depth_registration" value="true" />
    <param name="image_mode" value="2" />
    <param name="depth_mode" value="2" />
    <param name="debayering" value="2" />
    <param name="depth_time_offset" value="0" />
    <param name="image_time_offset" value="0" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="kinect_base_link" args="0 -0.02 0 0 0 0  /camera_link /camera_depth_frame 100" />  
  <node pkg="tf" type="static_transform_publisher" name="kinect_base_link1" args="0 -0.04 0 0 0 0  /camera_link /camera_rgb_frame 100" />  
  <node pkg="tf" type="static_transform_publisher" name="kinect_base_link2" args="0 0 0 -1.57 0 -1.57 /camera_depth_frame /camera_depth_optical_frame  100" />  
  <node pkg="tf" type="static_transform_publisher" name="kinect_base_link3" args="0 0 0 -1.57 0 -1.57 /camera_rgb_frame /camera_rgb_optical_frame 100" />  

  <node pkg="tf" type="static_transform_publisher" name="kinect_base_link4" args="0 0 0 -1.57 0 -1.57 /camera_rgb_optical_frame /myframe 100" />  

  <node pkg="cob_3d_segmentation" type="qppf_node" name="segmentation_qppf" output="screen" >
  	<param name="filter" value="10000" />
  </node>

  <node pkg="cob_3d_mapping_slam" type="slam_node" name="slam" output="screen" >
  	<param name="frame_id" value="/map" />
  	<param name="world_id" value="/camera_depth_optical_frame" />
  	<param name="invert" value="true" />
  </node>

</launch>

